<footer class="footer">
  <div class="iconFooter">
    <a href="#header"
      ><img
        class="arrow"
        src="./assets/images/ico-arrow.svg"
        alt="imagen de un icono"
    /></a>
  </div>
  <div class="end">
    <ul class="principal">
      <li><a href="https://adalab.es/">Articles</a></li>
      <li><a href="https://adalab.es/"></a>Books</li>
      <li><a href="https://adalab.es/"></a>Events</li>
      <li><a href="https://adalab.es/"></a>Reasons</li>
      <li><a href="https://adalab.es/"></a>Tips</li>
    </ul>
    <ul class="socialMedia">
      <li><a href="https://adalab.es/"></a>Twitter</li>
      <li><a href="https://adalab.es/"></a>Instagram</li>
      <li><a href="https://adalab.es/"></a>Mastodon.social</li>
    </ul>
    <div class="list">
      <section class="copyright">©2021</section>
      <section class="motto">
        we
        <h3 class="heart">❤︎</h3>
        components
      </section>
    </div>
  </div>
</footer>
