<header class="header" id="header">
  <section class="anonymousproxy">
    <h1>Anonymous Proxy</h1>
  </section>
  <section>
    <h2 class="headerSlogan">In hac habitasse platea dictumst.</h2>
  </section>

  <button class="button">
    
      <a href="#reasons"
        ><img src="./assets/images/ico-scroll-down.svg" alt="icono"
      /></a>
    </div>
  </button>

  <div class="botonMenu">
    <a class="hamburguer" href="https://adalab.es/">
      <img src="./assets/images/ico-menu.svg" alt="menú hambuguesa" />
    </a>
  </div>
</header>
