<header class="header">
  <section class="anonymousproxy">
    <h1 class="title">Anonymous Proxy</h1>
  </section>
  <section>
    <h2 class="slogan">In hac habitasse platea dictumst.</h2>
  </section>

  <button class="button">
    <div class="iconBox">
      <img src="./assets/images/ico-scroll-down.svg" alt="icono" />
    </div>
  </button>

  <div class="botonMenu">
    <a class="hamburguer" href="https://adalab.es/">
      <img src="./assets/images/ico-menu.svg" alt="menú hambuguesa" />
    </a>
  </div>
</header>
