<main class>
  <section class="section1">
    <h2 class="phrase">insomnia tips</h2>
    <h2 class="subtitle">looking through a window</h2>
    <p class="content">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a class="go" href="#">Go</a>
  </section>
  <section class="section2">
    <h2 class="phrase2">3 reasons to purchase</h2>
    <ul class="item">
      <li class="secondItem">Ut sed metus</li>
      <p class="paragraph">Lorem ipsum dolor sit amet, consecteur.</p>
      <li class="secondItem">Curabitur ac erat</li>
      <p class="paragraph">Mauris mattis urna quis lorem molestie.</p>
      <li class="secondItem">Morbi dictum</li>
      <p class="paragraph">Aliquam in dolor et dolor tincidunt.</p>
    </ul>
    <a class="more" href="#">More reasons</a>
  </section>
</main>
